<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - TestGuru</title>
</head>
<body>

<h2 id="about-testguru">About</h2>

<p>Приложение для создания, управления и выполнения различных тестов. Тесты с вопросами и вариантами ответов.</p>

<h4 id="Links">Ссылки:</h4>

<ul>
    <li>Онлайн-школа Thinknetica (<a href="http://thinknetica.com/" target='_blank'>www.thinknetica.com</a>)</li>
</ul>


</body>
</html>