<div class="card text-center">
  <div class="card-body">
    <footer>
      <p>
        <%= footer_current_year %>
      </p>

      <p>
        <%= github_url("agibalovsu", "Rails") %>
      </p>

      <p>
        <%= link_to "Учебный проект в онлайн-школе Thinknetica", 'https://thinknetica.com/', target: :_blank %>
      </p>
    </footer>
  </div>
</div>