<h1>О проекте:</h1>
<p>Проект TestGuru -> www.thinknetica.com</p>
<p>данный проект является частью учебной программы thinknetica Ruby on Rails</p>
<p>в ходе проекта будет созданно полноценное web приложение</p>
<p>приложение с тестами на основе которых будет проходить анализ введенной в тест информации</p>

